# Visual Studio temporary files
.vs/

# Rider files
.idea/

# User-specific files
*.suo
*.user
*.sln.cache

# Build results
bin/
obj/

# .NET Core dependencies
*.dll
*.pdb
*.cache
*.exe
*.log

# NuGet packages
*.nupkg
packages/

# Windows image file caches
Thumbs.db
ehthumbs.db

# macOS files
.DS_Store

# Visual Studio Code settings
.vscode/

# Node.js
node_modules/
